PORT=8000
DB_PATH=barbearia.db
WHATSAPP_TOKEN=COLE_SEU_TOKEN_AQUI
WHATSAPP_PHONE_NUMBER_ID=1047204661812681
WHATSAPP_BUSINESS_ID=1972894139980996
WHATSAPP_VERIFY_TOKEN=boleiros_verify_2026
NUMERO_TESTE=+15556327882
NUMERO_DESTINATARIO=+5542999845078
JANELA_HORARIOS=amanhã entre 10h e 19h
